{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1>Описание</h1>
<p>
    Пользователь выбирает начальный и конечный пункт маршрута, а также указывает максимальное время в пути.
    Также пользователь может добавить сколько угодно промежуточных городов, через которые должен пролегать маршрут.
</p>
<p>
    Сайт выгрузит подходящие под условия маршруты. Любой маршрут можно сохранить, задав ему имя.
    При поиске маршрутов, необходимо обращать внимание на направление движения поезда.
    При выводе маршруты сортируются по возрастанию времени в пути.
</p>
<p>
    Описание маршрута содержит информацию о том, откуда и куда ведет этот маршрут, время в пути,
    а также список всех поездов, которые есть в этом маршруте с указанием номера поезда, откуда\куда и времени в пути.
</p>
<p>
    Сохраненные маршруты можно просмотреть на отдельной странице.
    Маршрут можно только сохранить, посмотреть и удалить. Редактировать сохраненный маршрут нельзя.
</p>
{% endblock %}

